.linechart{
    &__heading{
        
            position: relative;
            top: 82px;
            left: 34px;
            color: white;
            opacity: 0.5;
            font-size: 27px;
            width: 271px;
            margin: 0;
        

    }
}
.test{
    position: relative;
}